@model Event
@{
    int userId = (int)Context.Session.GetInt32("userId");
}

@await Html.PartialAsync("_AdminNavBar")

<link rel="stylesheet" href="~/css/CreateEvent.css" asp-append-version="true" />

<div class="container " style="  background-color: #f0f0f0">

    <div class="card text-center mx-auto" style="background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25); padding: 10px; margin-bottom: 20px; max-width: 930px;">

        <div class="cont" style="display:flex ;justify-content:center;">

            <div class="form sign-in ">

                <h2>Create Events</h2>

                <form asp-action="CreateEvent" asp-controller="Events" method="post" enctype="multipart/form-data">

                    <label asp-for="Title" class="form-label">Title</label>
                    <input asp-for="Title" type="text" class="form-control" placeholder="Title" aria-label="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>

                    <label asp-for="Date" class="form-label">Date</label>
                    <input asp-for="Date" class="form-control" placeholder="Date" aria-label="Date">
                    <span asp-validation-for="Date" class="text-danger"></span>

                    <label asp-for="Staff" class="form-label">Number of staff requested</label>
                    <input asp-for="Staff" class="form-control" placeholder="Staff" aria-label="Staff">
                    <span asp-validation-for="Staff" class="text-danger"></span>

                    <label asp-for="Place" class="form-label">Place</label>
                    <input asp-for="Place" class="form-control">
                    <span asp-validation-for="Place" class="text-danger"></span>

                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>

                    <div class="mb-3">
                        <label asp-for="Picture" class="form-label">Picture</label>
                        <input type="file" id="imageFile" name="imageFile" class="form-control" style="border: 1px solid black;" accept=".jpg, .jpeg, .png, .gif" />
                    </div>

                    <button class="btn btn-danger submit" type="submit" id="submit" name="submit">Send</button>
                    <div class="sub-cont">

                    </div>

                </form>
            </div>
        </div>

    </div>
</div>